<%= form_for(@user) do |f| %>
  <p class="label">Full Name:</p>
  <p class='sub-text text-field'><%= f.text_field :name %></p>

  <p class="label">Turing Slack Handle:</p>
  <p class='sub-text text-field'>@<%= f.text_field :slack %></p>

  <p class="label"><%= f.label "E-mail:" %></p>
  <p class='sub-text text-field'><%= f.text_field :email %></p>

  <p class="label"><%= f.label "Location:" %></p>
  <p class="dropdown"><%= f.collection_select :location_id, Location.alphabetical, :id, :description, prompt: true %></p>

  <p class="label"><%= f.label "Looking for:" %></p>
  <p class="dropdown"><%= f.select("looking_for", options_for_select([["Mentor & Mentee", "Mentor & Mentee"], ["Mentor", "Mentor"], ["Mentee", "Mentee"], ["Neither", "Neither"]])) %></p>

  <p class="label"><%= f.label "About:" %></p>
  <p class="sub-text"><%= f.text_area :about_me, class: "large-text-box" %></p>

  <p class="label"><%= f.label "Availability Notes:" %></p>
  <p class="sub-text"><%= f.text_area :availability_notes, class: "large-text-box" %></p>

  <%= f.submit %>
<% end %>
