<h3 class="page-title"><%= @user.name %></h3>

<p class="label">Turing Slack Handle:</p>
<%= @user.slack %>

<p class="label">E-mail:</p>
<%= @user.email %>

<p class="label">Looking for:</p>
<%= @user.looking_for %>

<p class="label">About:</p>
<span class="large-text"><%= @user.about_me %></span>

<p class="label">Availability Notes:</p>
<span class="large-text"><%= @user.availability_notes %></span>

<p class="label">Time Since Last Activity:</p>
<span class="large-text"><%= distance_of_time_in_words(@user.last_active, Time.now) %></span>
