<h5>Pending your response: (<%= @user.requested_mentees.count %>)</h5>
<% @user.requested_mentees.each do |mentee| %>
  <%= render partial: 'shared/index_content', locals: { user: mentee } %>
  <%= link_to "Accept", accept_path(mentee: mentee, mentor: @user), method: :put, class: "link show-link" %>
  <%= link_to "Reject", reject_path(mentee: mentee, mentor: @user), method: :put, class: "link show-link" %>
<% end %>

<h5>Your requests: (<%= @user.requested_mentors.count %>)</h5>
<% @user.requested_mentors.each do |mentors| %>
  <%= render partial: 'shared/index_content', locals: { user: mentors } %>
<% end %>

<h5>Mentors (<%= @user.accepted_mentors.count %>)</h5>
<% @user.accepted_mentors.each do |mentor| %>
  <%= render partial: 'shared/index_content', locals: { user: mentor } %>
<% end %>

<h5>Mentees (<%= @user.accepted_mentees.count %>)</h5>
<% @user.accepted_mentees.each do |mentee| %>
  <%= render partial: 'shared/index_content', locals: { user: mentee } %>
<% end %>
