<h3 class="page-title">Users</h3>

<% @users.each do |user| %>
  <span class='user_info_block'>
    <img src="https://pixy.org/images/placeholder.png">
    <p class='user_info_text'>
      Name: <%= link_to user.name, user_path(user), class: "link name-link" %><br>
      Turing Slack: @<%= user.slack %><br>
      Looking For: <%= user.looking_for %><br>
    </p>
    <%= link_to "Edit", edit_admin_user_path(user), class: "link edit-link" %>
    <%= link_to "Delete", admin_user_path(user), data: { confirm: "You are about to delete user: #{user.name}.\nThis CANNOT be undone." }, method: :delete, class: "link delete-link" %>
  </span>
<% end %>
