<% if current_user.nil? %>
  <span> <%= link_to "Connect Turing", "/", class: "link site-title" %></span>

  <%= link_to "Sign Up", new_user_path, class: "link nav-link" %>
  <%= link_to "Log In", login_path, class: "link nav-link" %>
<% end %>

<% if current_default? %>
  <span> <%= link_to "Connect Turing", "/", class: "link site-title" %></span>

  <%= link_to "Log Out", logout_path, method: :delete, class: "link nav-link" %>
  <%= link_to "Account", user_path(current_user), class: "link nav-link" %>
<% end %>

<% if current_admin? %>
  <span> <%= link_to "Connect Turing", admin_users_path, class: "link site-title" %></span>

  <%= link_to "Log Out", logout_path, method: :delete, class: "link nav-link" %>
  <%= link_to "Account", admin_user_path(current_user), class: "link nav-link" %>
<% end %>
